# Common IntelliJ Platform excludes

.idea/**.*
.idea

*.suo
*.user
.vs/
[Bb]in/
[Oo]bj/
_UpgradeReport_Files/
[Pp]ackages/

image_converter/[Bb]in/
image_converter/[Oo]bj/
image_converter/_UpgradeReport_Files/
image_converter/[Pp]ackages/

Thumbs.db
Desktop.ini
.DS_Store